
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Message</h2>
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-md-10 offset-md-2">
            <div class="card text-center">
                <h2>Your Mail Has Been Send Succesfully. Thank you! :)</h2>
            </div>
        </div>
    </div>
</div>
