
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main-thanks-banner" style="margin-top: 11%">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h2 class="submit-text">Submitted Succesfully Thank You !</h2>
            </div>
        </div>
    </div>
</div>
